@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Spartan:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}
.navbar{
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-item{
  margin-left: 75px;
}
.profile{
	position: relative;
	width:40%;
}
#profile-pic{
  border-radius: 50%;
  left: 50%;
  position:absolute;
}
h3, .profile p{
  text-align: center
}
button{
  background-color: #e0f28a;
  
}
.news{
  display: flex;
  flex-direction:column;
}